* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
    background-size: cover;
}

dacenter p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    background-color: darkgreen;
    text-align: left;
    color: white;
    font-size: 18px;
}

dacenter h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    font-family: monospace;
    text-align: left;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

nav {
    width: 100%;
    height: 120px;
    background-color: darkgreen;
}

nav p {
    font-family: Arial;
    color: white;
    font-size: 30px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: green;
}

nav ul {
    float: left;
}

nav ul li {
    color: white;
    line-height: 55px;
    float: left;
    list-style: none;
    position: relative;
    font-size: 22px;
    padding: 20px 40px;
    text-decoration: none;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 300px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: darkolivegreen;
}
