* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: grey;
}

.navbar a, .navbar p {
  float: left;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 26px 30px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 26px 30px;
  font-size: 22px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: dimgrey;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 20px;
  background-color: dimgrey;
  padding: 5px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: slategrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}
